.registro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secondarybg;

    .register {
        background-color: $color-background;
        min-width: 100px;
        height: 100%;
        width: 60%;
        margin-top: 1.875rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-bottom: .5rem solid $color-main;

        .profile-img {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;


            img {
                display: flex;
                margin: 1.875rem;
                box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.5);
                border: .25rem solid $color-main;
            }
            
        }

        form {
            padding: 1.875rem;

            .form-fields {
                padding: 2rem 0 0 0;
                
                li {
                    
                    margin-bottom: .9375rem;
                    
                    a {
                        display: inline-block;
                        margin-right: .625rem;

                        img {

                        }
                    }

                    input[type="checkbox"] {
                        position: absolute;

                    }
                    label[for="terms"] {
                        position: relative;
                        margin: 1.25rem 0 0 1.25rem;
                    }

                    label {
                        display: block;
                        margin-bottom: .3125rem;
                        font-weight: bold;
                        font-family: $font-family;
                        font-weight: $font-regular;
                        color: $color-main;
                        font-size: $font-s;
                    }
                
                    input {
                        font-size: $font-p;
                        box-shadow: inset 0 .25rem .25rem rgba(0, 0, 0, 0.50);
                    }

                    input[type="text"],
                    input[type="email"],
                    input[type="password"],
                    select {
                        width: 20rem;
                        height: 2.8125rem;
                        border-radius: .25rem;
                        padding: .625rem;
                        border: .0625rem solid $color-main;
                        background-color: $color-secondarybg;
                        color: $color-secondary;
                        &:focus {
                        outline: none;
                        border-color: $color-secondary;
                        }
                    }
            
                
                    select.narrow-field {
                        width: 10.625rem;
                        box-shadow: inset 0 .25rem .25rem rgba(0, 0, 0, 0.5);
                    }
                
                    input[type="text"].wide-field {
                        width: 25rem;
                        
                        
                    }
                }
            }    
        }
    }
}